src/conf/xml-resources/web-service-references/SearchVideoService/wsdl/localhost_8080/WebServiceSOAP/SearchVideoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service/" name="SearchVideoService">
<types>
<xsd:schema>
<xsd:import namespace="http://Service/" schemaLocation="http://localhost:8080/WebServiceSOAP/SearchVideoService?xsd=1"/>
</xsd:schema>
</types>
<message name="searchVideoWithCreationYear">
<part name="parameters" element="tns:searchVideoWithCreationYear"/>
</message>
<message name="searchVideoWithCreationYearResponse">
<part name="parameters" element="tns:searchVideoWithCreationYearResponse"/>
</message>
<message name="searchWithVideoTitle">
<part name="parameters" element="tns:searchWithVideoTitle"/>
</message>
<message name="searchWithVideoTitleResponse">
<part name="parameters" element="tns:searchWithVideoTitleResponse"/>
</message>
<message name="searchVideoWithAuthor">
<part name="parameters" element="tns:searchVideoWithAuthor"/>
</message>
<message name="searchVideoWithAuthorResponse">
<part name="parameters" element="tns:searchVideoWithAuthorResponse"/>
</message>
<portType name="SearchVideoService">
<operation name="searchVideoWithCreationYear">
<input wsam:Action="http://Service/SearchVideoService/searchVideoWithCreationYearRequest" message="tns:searchVideoWithCreationYear"/>
<output wsam:Action="http://Service/SearchVideoService/searchVideoWithCreationYearResponse" message="tns:searchVideoWithCreationYearResponse"/>
</operation>
<operation name="searchWithVideoTitle">
<input wsam:Action="http://Service/SearchVideoService/searchWithVideoTitleRequest" message="tns:searchWithVideoTitle"/>
<output wsam:Action="http://Service/SearchVideoService/searchWithVideoTitleResponse" message="tns:searchWithVideoTitleResponse"/>
</operation>
<operation name="searchVideoWithAuthor">
<input wsam:Action="http://Service/SearchVideoService/searchVideoWithAuthorRequest" message="tns:searchVideoWithAuthor"/>
<output wsam:Action="http://Service/SearchVideoService/searchVideoWithAuthorResponse" message="tns:searchVideoWithAuthorResponse"/>
</operation>
</portType>
<binding name="SearchVideoServicePortBinding" type="tns:SearchVideoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchVideoWithCreationYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchWithVideoTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchVideoWithAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SearchVideoService">
<port name="SearchVideoServicePort" binding="tns:SearchVideoServicePortBinding">
<soap:address location="http://localhost:8080/WebServiceSOAP/SearchVideoService"/>
</port>
</service>
</definitions>